* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: dimgray;
    color: white;
    display: flex;
    height: 100vh;
    text-align: center;
    width: 100vw;
}

img {
    height: 18vh;
}

.container-left,
.container-right {
    font-size: 7vh;
    padding-top: 5vh;
    width: 25%;
}

.container-middle {
    align-items: center;
    background-image: url(./logos/field.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5vh;
    padding-top: 5vh;
    width: 50%;
}

.team-selection {
    display: flex;
    flex-direction: column;
    font-size: 5vh;
    height: 30vh;
    justify-content: space-between;
    padding-bottom: 5vh;
    width: 100%;
}

.team-selection h1 {
    height: fit-content;
}

.pick-your-team img {
    height: 15vh;
    transition: 1s;
}

.pick-your-team img:hover {
    cursor: pointer;
    height: 20vh;
}

.turn-display {
    align-items: center;
    display: flex;
    font-size: 10vh;
    height: 30vh;
    justify-content: center;
}

.game-board {
    align-content: center;
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 50vh;
    justify-content: center;
    width: 30vw;
}

.game-board-box {
    align-items: center;
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
    display: flex;
    font-size: 10vh;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.game-board-box img {
    height: 13vh;
}

.game-board-box img:hover {
    cursor: none;
}

.hidden {
    display: none!important;
  }